---
layout: default
title: bio
---  

<div class="row">
    <div class="col-md-12">
    	<br />
    	<br />
    	<br />
        <br />
    </div>
	<div class="col-md-4">
        <div class="row">
        	<div class="col-md-8 col-md-offset-2">
                <img src="http://d13pix9kaak6wt.cloudfront.net/background/users/u/s/o/usoluyun_1386001399_91.jpg" alt="chester lu" class="img-rounded" width="230" />
            </div>
        </div>     
        <div class="row">
        	<div class="col-md-8 col-md-offset-2">
                <p>我是一个普通的程序员，一个孩子的父亲，一个闽南女人的丈夫，和一个业余垒球队教练。</p>
                <p><strong>我相信科技改变生活</strong>，但我批判脱离现实生活的科技。</p>
                <p><strong>我相信极简主义</strong>，简单的事情要用简单的方法，复杂的事情要想办法把它变简单。</p>
                <p><strong>我相信团队精神</strong>，也不排斥个人英雄主义，无论在写程序的时候，还是在打棒垒球的时候。</p>
                <p><strong>我相信生产力</strong>，而分工协作是提高生产力的主要形式，和破除人月神话的手段。</p>
        	</div>
        </div>
    </div>
	<div class="col-md-8">
        {{ content }}
    </div>
</div>
