<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
        <title>{{ page.title  }}</title>
    </head>
    <body>
        <div role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">首页</a>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                	<li>
                		<a href="http://about.me/usoluyun">我</a>
                	</li>
                </ul>
                <form role="search" action="http://www.google.com/cse" class="navbar-form navbar-right">
                	<div class="form-group">
                        <input type="hidden" name="cref" value="" />
                        <input type="hidden" name="ie" value="utf-8" />
                        <input type="hidden" name="hl" value="zh-CN" />
                		<input placeholder="Search" type="text" class="form-control" name="q" />
                	</div>
                    <button class="btn btn-default" type="submit">搜索</button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><br><br><br></div>
            </div>
            <div class="row">
                <div class="jumbotron">
                	<h1>lifecoach</h1>
                	<p>coaching life</p>
                </div>
            </div>
            <div class="divider"></div>
            {{ content }}
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/cse/tools/onthefly?form=searchbox_demo&lang=zh-CN"></script>
    </body>
</html>

